@use '/src/scss/base/variables.scss'as *;
.header {
    &__logo {
        align-items: center;
        opacity: 1;
        display: block;
        transition: display 0.5s;
        &--show {
            opacity: 0;
            display: none;
            transition: display 0.5s;
        }
    }
    &__hamburger {
        flex-direction: column;
        justify-content: center;
        gap: 4.5px;
        cursor: pointer;
        transition: all 1s;
        &-line {
            width: 25px;
            height: 3px;
            border-radius: 2px;
            background-color: $black;
            &:nth-child(1) {
                transform: translateY(0px) rotate(0deg);
                transition: all 1s;
            }
            &:nth-child(3) {
                transform: translateY(0px) rotate(0deg);
                transition: all 1s;
            }
        }
    }
    &__nav {
        position: relative;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.2);
        .mobile-nav {
            position: absolute;
            align-items: left;
            gap: 10px;
            width: 100%;
            a {
                text-decoration: none;
                color: $black;
            }
        }
    }
    &__search-input {
        border-radius: 10px;
        color: rgba(87, 87, 87, 0.63);
        font-weight: 800;
        letter-spacing: 1px;
        width: 0;
        padding: 0;
        opacity: 0;
        height: 20px;
        transition: all 1s;
        &--active {
            width: 100%;
            padding: 3px;
            opacity: 1;
            transition: all 1s;
        }
    }
    &__columns {
        justify-content: space-between;
        align-items: center;
        min-height: 64px;
    }
    .icon {
        width: 24px;
        cursor: pointer;
    }
    &__col {
        align-items: center;
        justify-content: center;
        gap: 16px;
    }
    &__cart {
        position: relative;
        &-counter {
            position: absolute;
            top: -8px;
            left: 16px;
            font-size: 12px;
        }
    }
}